---
title: Multunus | Goodbye
---
<section class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="bye-emoji" src="/images/home/bye.svg">
                <h1><%= data.home.title %></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12">
                <% data.home.description.each do |description| %>
                <p class="lead-main"><%= description.para %></p>
                <% end %>
            </div>
        </div>
    </div>
</section>

<!-- Our team Section -->
<section id="team" class="team content-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="role-filter-pills">
                    <ul class="nav nav-pills">
                        <li class="nav-item active">
                            <a class="nav-link" data-toggle="portfilter" data-target="all">All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="portfilter" data-target="pointy-haired">Pointy</i> Haired</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="portfilter" data-target="technology">Technology</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="portfilter" data-target="product">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="portfilter" data-target="people-culture">People & Culture</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="container">
                <div class="row">
                    <% data.home.team.each do |member| %>
                        <div class="col-md-4 col-sm-6 col-xs-12" data-tag="<%= member.tag %>">
                            <div class="team-member">
                                <figure>
                                    <%= image_tag member.image, class: "img-responsive" %>
                                    <figcaption>
                                        <p><%= member.description %></p>
                                        <ul class="social-links">
                                            <% if defined?member.social_media.twitter %>
                                                <li>
                                                <a target="_blank" href="<%= member.social_media.twitter %>"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
                                                </li>
                                            <% end %>
                                            <% if defined?member.social_media.facebook %>
                                                <li>
                                                <a target="_blank" href="<%= member.social_media.facebook %>"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
                                                </li>
                                            <% end %>
                                            <% if defined?member.social_media.linkedin %>
                                                <li>
                                                <a target="_blank" href="<%= member.social_media.linkedin %>"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
                                                </li>
                                            <% end %>
                                            <% if defined?member.social_media.dribbble %>
                                                <li>
                                                <a target="_blank" href="<%= member.social_media.dribbble %>"><i class="fa fa-dribbble fa-lg" aria-hidden="true"></i></a>
                                                </li>
                                            <% end %>
                                            <% if defined?member.social_media.github %>
                                                <li>
                                                <a target="_blank" href="<%= member.social_media.github %>"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
                                                </li>
                                            <% end %>
                                            <% if defined?member.social_media.behance %>
                                                <li>
                                                <a target="_blank" href="<%= member.social_media.behance %>"><i class="fa fa-behance fa-lg" aria-hidden="true"></i></a>
                                                </li>
                                            <% end %>
                                            <% if defined?member.social_media.website %>
                                                <li>
                                                <a target="_blank" href="<%= member.social_media.website %>"><i class="fa fa-globe fa-lg" aria-hidden="true"></i></a>
                                                </li>
                                            <% end %>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <div class="member-brief">
                                    <h5 class="name"><%= member.name %></h5>
                                    <p class="role"><%= member.role %></p>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="flickr-stream">
    <div id="flickrembed"></div><small style="display: block; text-align: center; margin: 0 auto;"></small>
</section>
<script src="//flickrembed.com/embed_v2.js.php?source=flickr&layout=responsive&input=www.flickr.com/photos/multunus&sort=0&by=user&theme=default&scale=fill&skin=default&id=58de3b9f918f6"></script> -->